Resources:
  AWSEBRDSDatabase:
    Type: AWS::RDS::DBInstance
    Properties:
      DBName: 'visitorsDB'
      Engine: postgres
      EngineVersion: 13.7
      DBInstanceClass: db.t3.small
      AllocatedStorage: 30
      StorageType: gp2
      MasterUsername: visitorapp
      MasterUserPassword: '{{resolve:ssm:/visitor-sign-in-app/database-password:1}}'
      MultiAZ: false
      DBInstanceIdentifier: visitor-sign-in-db
      VPCSecurityGroups:
        - !GetAtt RDSSecurityGroup.GroupId
      DBSubnetGroupName: !Ref DBSubnetGroup
      PubliclyAccessible: false
      Tags:
        - Key: Application
          Value: 'visitor-sign-in-app'
    DeletionPolicy: Snapshot

  DBSubnetGroup:
    Type: AWS::RDS::DBSubnetGroup
    Properties:
      DBSubnetGroupDescription: "Subnets for RDS instance"
      SubnetIds:
        - !Ref PrivateSubnet1
        - !Ref PrivateSubnet2

  RDSSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: "Security group for RDS instance"
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 5432
          ToPort: 5432
          SourceSecurityGroupId: !GetAtt AWSEBSecurityGroup.GroupId

  PrivateSubnet1:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref VPC
      CidrBlock: "10.0.1.0/24"
      AvailabilityZone: !Select [0, !GetAZs '']
      Tags:
        - Key: Name
          Value: 'PrivateSubnet1'

  PrivateSubnet2:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref VPC
      CidrBlock: "10.0.2.0/24"
      AvailabilityZone: !Select [1, !GetAZs '']
      Tags:
        - Key: Name
          Value: 'PrivateSubnet2'

  VPC:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: "10.0.0.0/16"
      EnableDnsSupport: true
      EnableDnsHostnames: true
      Tags:
        - Key: Name
          Value: 'VisitorApp-VPC'

option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: !Join ['', ['postgres://visitorapp:', !Ref 'DBPassword', '@', !GetAtt 'AWSEBRDSDatabase.Endpoint.Address', ':', !GetAtt 'AWSEBRDSDatabase.Endpoint.Port', '/visitorsDB']]
    PGUSER: 'visitorapp'
    PGDATABASE: 'visitorsDB'
    PGPORT: !GetAtt 'AWSEBRDSDatabase.Endpoint.Port'
    PGHOST: !GetAtt 'AWSEBRDSDatabase.Endpoint.Address'
    PGPASSWORD: !Ref 'DBPassword'