option_settings:
  aws:elasticbeanstalk:application:environment:
    # Database connection environment variables
    # These will be set during deployment
    PGUSER: ${PGUSER}
    PGDATABASE: ${PGDATABASE}
    PGHOST: ${PGHOST}
    PGPORT: ${PGPORT}
    PGPASSWORD: ${PGPASSWORD}
    DATABASE_URL: postgres://${PGUSER}:${PGPASSWORD}@${PGHOST}:${PGPORT}/${PGDATABASE}