Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: !GetAtt AWSEBSecurityGroup.GroupId
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

option_settings:
  # Load Balancer settings
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

  # Load Balancer listener settings
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: '{{resolve:ssm:/visitor-sign-in-app/ssl-certificate-arn:1}}'
    
  # HTTP to HTTPS redirect rule
  aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    DefaultProcess: default
    Rules: default
    Protocol: HTTP
    
  # Load balancer settings for HTTP to HTTPS redirect
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/health
    Port: '80'
    Protocol: HTTP
    HealthCheckTimeout: 10
    HealthCheckInterval: 15
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
    StickinessEnabled: true
    StickinessType: lb_cookie