option_settings:
  # Application settings
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    SESSION_SECRET: '#{SessionSecret}'
    EMAIL_SERVICE_ENABLED: '#{EmailServiceEnabled}'
    
  # Node.js settings
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"

  # Environment settings
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

  # Load Balancer listener settings
  aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    DefaultProcess: default
    Protocol: HTTP
    
  # Health check settings
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/health
    Port: '8080'
    Protocol: HTTP
    HealthCheckTimeout: 10
    HealthCheckInterval: 15
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5